
*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
body{
	display:flex;
	justify-content:center;
	align-items:center;
	background-image:url("background4.jpg");
	background-repeat:no-repeat;
    background-size:cover;
	background-position:center;
}

h1{
	color:white;
	font-family:Aharoni;
	margin-left:40px;
	margin-top:30px;
	font-size:1.5em;
	position:absolute;
	left:0;
	top:0;
}
nav{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:40px;
	position:absolute;
	right:0;
	top:0;
	margin-right:40px;
	margin-top:30px;
	font-family:Aharoni;
	position:absolute;
	text-align:center;
}
nav a{
	color:white;
	text-decoration:none;
}
nav a::before{
	content:' ';
	width:55px;
	height:3px;
	background-color:white;
	position:absolute;
	top:25px;
	border-radius:15px;	
	transform:scale(0);
	transform-origin:left;
}
nav a:hover::before{
	color:white;
	text-decoration:none;
	animation:anim 0.7s linear;
}
@keyframes anim{
	0%{
			transform:scale(0);
			transform-origin:left;
	}	
	50%{
			transform:scale(1);
			transform-origin:left;
	}		
	80%{
			transform:scale(1);
			transform-origin:right;
	}	
	100%{
		    transform-origin:right;
			transform:scale(0);
	}
}
 .NavLogIn{
	 display:flex;
	 color:#0d1215ff;
	background-color:white;
	border:2px solid white;
	border-radius:15px;
	outline:none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:30px;
	padding-right:30px;
	font-family:sans-serif;
	transition:0.5s;
}
 .NavLogIn:hover{
	 color:white;
	background-color:transparent;
	border:2px solid white;
}
.LgInBox{
	position:relative;
	display:flex;
	justify-content:center;
	width:300px;
	height:250px;
	background-color:transparent;
	margin-top:40px;
	padding-bottom:60px;
	backdrop-filter:blur(20px);
	border:2px solid white;
	box-shadow:0 5px 20px #0d1215ff;
	
}
.LgInBox h2{
	position:absolute;	
     color:#0d1215ff;
	font-family:Aharoni;	 
	margin-top:30px;
	font-size:1.4em;
	z-index:2;
}
img{
	position:absolute;
	width:25px;
	height:25px;
}
form{
	position:relative;
	color:white;
	justify-content:center;
	align-items:center;
	padding-top:130px;
	width:270px;
	font-family:Aharoni;
	height:200px;
}
form .Name{
	position:absolute;
	top:80px;
	display:flex;
	justify-content:center;
	align-items:center;
}
form .Name img{
    position:absolute;
	right:0;
	width:20px;
	height:20px;
}
form .Name label{
	position:absolute;
	color:#0d1215ff;
	left:0;
	font-size:0.9em;
}
form .Name input{
	width:270;
	height:40px;
	background:transparent;
	outline:none;
	border-bottom:2px solid;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-color:black;
}
form .UserPassword{
	position:absolute;
	top:140px;
	display:flex;
	justify-content:center;
	align-items:center;
}
form .UserPassword img{
    position:absolute;
	right:0;
	width:20px;
	height:20px;	
}
form .UserPassword label{
	position:absolute;
	color:#0d1215ff;
	left:0;
	font-size:0.9em;	
}
form .UserPassword input{
	width:270;
	height:40px;
	background:transparent;
	outline:none;
	border-bottom:2px solid;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-color:black;	
}
form .rememberForget{
	position:absolute;
	bottom:120;
	font-size:0.8em;
	color:#0d1215ff;
}
form .rememberForget input{
	width:13px;
	height:13px;
}
form .rememberForget span{
	margin-left:49px;
	font-size:0.9em;
}
form .rememberForget span  a{
	text-decoration:none;
	color:#0d1215ff;
}
form button{
	position:absolute;
	bottom:70;
	width:270px;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	font-size:1em;
	font-family:sans-serif;
	background-color:#0d1215ff;
	transition:0.5s;
	outline:none;
}
form button:hover{
    border-color:white;
	color:#0d1215ff;
	background-color:white;
}

form p{
	position:absolute;
	bottom:40;
	text-align:center;
	font-size:0.9em;
	width:270;
	color:#0d1215ff;
}
form p a{
   color:#0d1215ff;
}